.board{
    width: 369px;
    min-height: 80px;
    border-radius: 3px;
    background: #EFF4FF;
    margin: 14px;
    box-shadow: 0px 0px 7.3px 0px rgba(0, 0, 0, 0.25);
    transition: all .2s;
    .header{
        width: 100%;
        height: 42px;
        border-radius: 3px 3px 0px 0px;
        background: #CD62FF;
        padding: 12px;
        p{
            margin: 0;
            color: #FFF;
            font-size: 16px;
            font-weight: 700;
            line-height: normal;
        }
    }
    .list{
        list-style-type: none;
        padding: 0;
        width: 346px;
        margin-left: 11px;
        margin-right: 11px;
        margin-bottom: 20px;
        li{
            margin-top: 20px;
        }
    }
}