.modal-dialog {
    justify-content: center !important;
}
.modal-content{
    max-width: 500px !important ;
}
.modal-header{
    border-bottom: none !important;
}

.modal-body{
    border-bottom: none !important;
}
.modal-footer {
    border-top: none !important;
}
