.flex{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-flow: column;
    row-gap: 10px;
}
.element{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-flow: column;
    row-gap: 10px;
    width: 100%;
}
