@import '@scss/style';
@import "@fonts/fonts";
*{
  font-family: Roboto;
}
html,body {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  background: $bacckground-app;
  box-sizing: border-box;
}
 #root {
  height: 100%;
 }